html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  
}



/* Globales */
img{
  max-width: 100%;
}
.contenedor
{
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

h1
{
  font-size: 3.2rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2.8rem;
}

h4{
  font-size: 2.6rem;
}

/* Utilidades */

.seccion{
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.fw-300
{
  font-weight: 300;
}

.centrar-texto
{
  text-align: center;
}

.d-block{
  display: block!important;
}

.contenido-centrado
{
  max-width: 800px;
}

/*Botones*/
.boton{
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border: none;
}

.boton:hover
{
  cursor: pointer;
}

.boton-naranja{
  background-color: orange;
}

.boton-verde{
  background-color: green;
}

.ver-todas{
  display: flex;
  justify-content: flex-end;

}


/* Header */
.site-header
{
  background-color:#333333;
  padding: 1rem 0 3rem 0;
}
.site-header.inicio
{
  background-image: url("../img/header.jpg");
  background-position: center center;
  height: 100vh;
  min-height: 60rem;
}

.contenido-header
{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.barra
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem; 
}

.navegacion a
{
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  margin-right: 2rem;
}

.navegacion a:hover
{
  color: blue;
}


.navegacion a:last-of-type
{
  margin: 0;
}

.contenedor h1
{
  color:white;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 2;
}

/*Mas de Nosotros iconos*/

.icono-nosotros
{
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.icono{
  flex-basis: calc(33.3% - 1rem);
  
}

.icono h3{
  text-transform: uppercase;
}

/* Anuncios */
.contenedor-anuncios
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.anuncio{
  flex: 0 0 calc(33.3% - 1rem);
  /*
  flex-grow:0;
  flex-shrink: 0;
  flex-basis: calc(33.3% - 1rem);*/
  border-style: solid;
  border-color: gray;
  border-width: 1px;  
  background-color: #f5f5f5;
  margin-bottom: 2rem;
}

.contenido-anuncio{
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  
}

.contenido-anuncio h3, 
.contenido-anuncio p{
  margin: 0;
}

.precio{
  color: green;
  font-weight: 700;
  
}

.icono-caracteristicas
{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  flex: 1;
}

.icono-caracteristicas li
{

  display: flex;

}

.icono-caracteristicas img
{
  margin-right: 2rem;
}

/* Contacto */
.imagen-contacto{
  background-image: url(../img/encuentra.jpg);
  background-position: center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
}

.contenido-contacto{
  flex: 1;  
  color: white;
}

.contenido-contacto p{
  font-size: 1.8rem;
}

/**Seccion Inferior**/
.seccion-inferior
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.blog
{
  flex-basis: 60%;
}

.testimoniales
{
  flex-basis: calc(40% - 2rem);
}

.entrada-blog
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.entrada-blog:last-of-type
{
  margin-bottom: 0;
}



.blog-imagen
{
  flex-basis: 40%;
}

.blog-texto
{
  flex-basis: calc(60% - 3rem);
}

.blog-texto h3
{
  margin: 0;
  line-height: 1.2;

}

.blog-texto h3::after
{
  content: "";
  display: block;
  width: 15rem;
  height: .5rem;
  background-color: green;
  margin-top: 1rem;
}

.blog-texto a
{
  color: black;
  text-decoration: none;
}

.blog-texto span
{
  color: orange;
}

/**Testimoniales**/
.testimonio
{
  background-color: green;
  font-size: 2.4rem;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.testimonio p
{
  text-align: end;
}

.testimonio blockquote::before
{
  content: "";
  background-image: url("../img/comilla.svg");
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left:-2rem ;
}

.testimonio blockquote
{
  position: relative;
  padding-left: 5rem;
}
/** Footer **/
.site-footer
{
  background-color: #333333;
  margin: 0;
}
.contenedor-footer
{
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright
{
  margin: 0;
  color: white;
}
/** Nosotros **/
.contenido-nosotros
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 2.5rem;
}

.texto-nosotros blockquote
{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0 3rem 0;
}

/**Anuncio**/
.resumen-propiedad
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**Contacto**/
label
{
  display: block;
  font-weight: 700;
  color: #0e0909;
  text-transform: uppercase;
  
}

legend
{
  font-size: 2.4rem;
  color: #504d4d;
}


input:not([type="submit"]),textarea,select
{
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
}

input[type="radio"]
{
  width: auto;
  margin: 0;
}

select
{
  -webkit-appearance: none;
  
}

textarea
{
  height: 25rem;
}

.contacto p
{
  font-size: 1.5rem;
  color: #504d4d;
  margin: 2rem,0,0,0;
}

.forma-contacto
{
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

